<div class="container-fluid mt-5 text-center">
  <div>
    <table class="table table-striped">
      <th>
        <tr>
          <td>id</td>
          <td>Isbn</td>
          <td>Title</td>
          <td>Authour</td>
          <td>Category</td>
          <td>Qty</td>
        </tr>
      </th>
      <tbody>
        <tr *ngFor="let book of data">
          <td>{{ book.id }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.category }}</td>
          <td>{{ book.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
