<div class="container-fluid mt-5 text-center">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>id</td>
          <td>Isbn</td>
          <td>Title</td>
          <td>Authour</td>
          <td>Category</td>
          <td>Qty</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of data">
          <td>{{ book.id }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.category }}</td>
          <td>{{ book.qty }}</td>
          <td class="cSize">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete"
              (click)="setBookTodelete(book.id)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
            <button
              type="button"
              class="btn btn-info ms-3"
              data-bs-toggle="modal"
              data-bs-target="#update"
              data-bs-whatever="@getbootstrap"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="delete"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete book</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" [ngClass]="{ 'success-message': isdeleted }">
        <ng-container *ngIf="!isdeleted">
          <!-- Only show if delete is not successful -->
          Do you want to delete this book ?
        </ng-container>
        <ng-container *ngIf="isdeleted">
          <!-- Show if delete is successful -->
          Book successfully deleted!
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="bookToDelete !== null ? deleteBook(bookToDelete) : null"
          *ngIf="!isdeleted"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="update"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update book</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="dropdown">
            <label for="isBn" class="col-form-label">IsBn:</label>
            <select name="isBn" id="isBn" class="form-select">
              <option value="" disabled selected>Please select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="book-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="book-title" />
          </div>
          <div class="mb-3">
            <label for="author" class="col-form-label">Author:</label>
            <input type="text" class="form-control" id="author" />
          </div>
          <div class="mb-3">
            <label for="category" class="col-form-label">Category:</label>
            <select name="category" id="category" class="form-select">
              <option value="" disabled selected>Please select</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
              <option value="F">F</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="qty" class="col-form-label">Qty:</label>
            <input type="number" class="form-control" id="qty" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
